body {
    background-color: bisque;
    border-radius: 15%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
div {
    background-color: lightslategrey;
    border-radius: 28%;
}
form {
    
    background-position: 30%;
    border-radius: 25%;
}
h2 {
    font-size: medium;
    text-decoration: underline;
}